{% extends "layout.html" %}
{% load static %}

{% block head %}
<!-- ESTILOS DEL CSS -->
{% endblock %}
{% block main %} 
<!-- TODO DEL HTML -->

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    <div class="d-flex justify-content-between">
      <h4 class="card-title mb-0">Inserción</h4>
    </div>
    <div class="d-block d-sm-flex justify-content-between align-items-center">
        <h5 class="card-sub-title mb-2 mb-sm-0">Creación y configuración de datos base de la aplicación</h5>
    </div>
    <div class="mdc-layout-grid__inner mt-2">

    </div>
  </div> 
</div>

{% endblock %}
{% block js %} 
<!-- CODIGO JAVASCRIPT -->
{% endblock %}