{% extends "layout.html" %}
{% load static %}

{% block head %}
<!-- ESTILOS DEL CSS -->
<link rel="stylesheet" href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'vendors/map/style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}
{% block main %} 
<!-- TODO DEL HTML -->
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    
    <div class="d-block d-sm-flex justify-content-between align-items-center mt-2">
      <div class="dx-viewport">


        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
          <div class="mdc-card p-0">
            <h6 class="card-title card-padding pb-0">Cafeteria</h6>
            <br>
            <button class="mdc-button mdc-button--outlined outlined-button--success">
              Realizar Pedido
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>


<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-card info-card info-card--success">
          <div class="card-inner">
            <h5 class="card-title">Pizza</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">$6.500</h5>
            <p class="tx-12 text-muted">48% Compras</p>
            <div class="card-icon-wrapper">
              <i class="material-icons">dvr</i>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-card info-card info-card--danger">
          <div class="card-inner">
            <h5 class="card-title">Nativos</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">$4.000</h5>
            <p class="tx-12 text-muted">52% Compras</p>
            <div class="card-icon-wrapper">
              <i class="material-icons">attach_money</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %} 
<!-- CODIGO JAVASCRIPT -->
<script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}