{% extends "layout.html" %}
{% load static %}

{% block head %}
<!-- ESTILOS DEL CSS -->
<link rel="stylesheet" href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'vendors/map/style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link rel="stylesheet" href="{% static 'vendors/sked-tape/jquery.skedTape.css' %}">

<style>
.modal {
  max-width: 750px;
}

.button_catalog {
  text-align: center;
}
</style>

{% endblock %}
{% block main %} 
<!-- TODO DEL HTML -->

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    <div class="d-flex justify-content-between">
      <h4 class="card-title mb-0">Bienvenidos a la <b>Universidad Manuela Beltrán</b></h4>
    </div>
    <div class="d-block d-sm-flex justify-content-between align-items-center">
        <h5 class="card-sub-title mb-2 mb-sm-0">Una Institución de Educación Superior con 45 años de historia, 
          comprometida con la formación de profesionales íntegros que aportan al desarrollo sostenible de nuestro país.</h5>
    </div>
    <div class="d-block d-sm-flex justify-content-between align-items-center mt-2">
      <div class="dx-viewport">






        <div class="map-build">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 721.8 426.7" style="enable-background:new 0 0 721.8 426.7;" xml:space="preserve">
  
            <!-- <polygon id="shop1map" num="1" class="site-map st0" points="251.2,371.8 174.1,327.3 167.2,331.3 167.2,393.3 190.6,406.8 	" />
            <polygon id="shop2map" num="2" class="site-map st0" points="226.1,355.3 255.5,338.3 205.3,309.3 175.8,326.3 	" />
            <polygon id="shop3map" num="3" class="site-map st0" points="252.9,370.8 282.3,353.8 257.2,339.3 227.8,356.3 	" />
            <polygon class="site-map st0" points="364.6,274.3 430.4,236.3 381.1,207.8 315.3,245.8 	" />
            <polygon class="site-map st0" points="392.3,290.3 458.2,252.3 432.2,237.3 366.4,275.3 	" />
            <polygon id="shop4map"  num="4" class="site-map st0" points="459.9,251.3 499.7,228.3 422.6,183.8 382.8,206.8 	" />
            <polygon id="shop3map" num="3" class="site-map st0" points="501.5,227.3 550,199.3 498,169.3 472.9,154.8 449.5,168.3 424.4,182.8 	" />
            <polygon class="site-map st0" points="551.7,198.3 629.6,153.3 567.4,117.2 539.6,116.3 474.6,153.8 	" />
            <polygon class="site-map st0" points="660.9,73.3 566.4,18.8 552.6,26.8 552.6,84.8 596.8,110.3 	" />
            <polygon id="shop5map" num="5" class="site-map st0" points="650.4,141.3 714.5,104.3 662.5,74.3 598.4,111.3 	" />
            <polygon class="st2" points="714.5,115.7 650.4,152.7 650.4,141.3 714.5,104.3 	" />
            <polygon class="st2" points="629.6,164.6 392.3,301.6 392.3,290.2 629.6,153.2 	" />
            <polygon class="st2" points="282.3,365.3 190.6,418.1 190.6,406.7 282.3,353.9 	" />
            <polygon class="st1" points="552.5,84.8 650.4,141.3 650.4,152.7 552.5,96.2 	" />
            <polygon class="st1" points="315.3,245.7 392.3,290.2 392.3,301.6 315.3,257.1 	" />
            <polygon class="st1" points="167.2,393.2 190.6,406.7 190.6,418.1 167.2,404.6 	" /> -->

            <polygon id="football_1" class="st0" points="231.68,75.95 289.03,40.82 367.92,87.09 309.78,122.53"/>
            <polygon id="football_2" class="st0" points="173.33,111.08 231.18,75.95 309.78,122.53 251.64,157.47"/>
            <polygon id="shop5map" num="5" class="st0" points="475.28,127.99 581.46,66.18 638.19,99.24 610.02,116.06 639.1,132.86 561.85,178.09"/>
            <polygon id="shop3map" num="3" class="st0" points="611.02,116.36 639.29,99.54 667.77,116.5 639.6,132.56"/>
            <polygon id="restaurant_1" class="st0" points="32.62,203.06 55.4,190.01 76.44,202.37 53.91,215.76"/>
            <polygon id="shop1map" num="1" class="st0" points="35.3,241.77 67.28,223.48 54.21,216.26 77.44,202.87 175.12,260.24 121.63,291.43"/>
            <polygon id="shop3map" num="3" class="st0" points="230.52,326.57 247.7,306.1 270.79,291.74 306.97,312.62 258.02,342.88"/>
            <polygon id="university_1" class="st0" points="270.79,291.74 315.67,265.02 342.44,280.48 336.58,283.73 336.58,294.37 306.97,312.62"/>
            <polygon id="university_3" class="st0" points="315.67,265.02 354.89,241.35 382.08,257.2 381.08,257.2 381.08,268.13 367.72,276.27 367.72,275.5 360.13,271 342.44,280.48"/>
            <polygon id="university_4" class="st0" points="354.89,241.35 394.87,217.59 430.27,239.03 409.08,251.46 401.3,246.95 382.08,257.2"/>
            <polygon id="shop3map" num="3" class="st0" points="394.87,217.59 411.89,207.45 435.43,205.05 461.94,220.77 430.27,239.03"/>
            <polygon id="shop2map" num="2" class="st0" points="345.61,288.58 367.72,276.27 367.72,286.14 345.61,299.22"/>
            <polygon id="shop2map" num="2" class="st0" points="389.97,262.81 409.08,251.46 409.08,262.1 389.97,273.45"/>
            <polygon id="university_8" class="st0" points="303.04,369.5 348.39,343.44 388.29,366.48 343.1,393.07"/>
            <polygon id="university_9" class="st0" points="348.39,343.44 392.63,316.57 433.07,339.92 388.29,366.48"/>
            <polygon id="university_10" class="st0" points="392.63,316.57 439.04,289.94 478.72,312.85 433.07,339.92"/>
            <polygon id="shop4map" num="4" class="st0" points="439.04,289.94 507.55,248.39 547.72,271.45 478.72,312.85"/>
            <polygon id="shop2map" num="2" class="st0" points="380.43,313.19 409.49,295.43 409.49,306.07 380.43,323.32"/>


            <polygon id="st2_football_1" class="st2" points="173.53,112.03 173.53,116.69 251.64,163.62 251.64,157.97"/>
            <polygon id="st1_football_2" class="st1" points="252.64,163.12 252.64,157.47 367.92,87.6 367.92,92.75"/>
            <polygon id="st2_library_1" class="st2" points="475.28,128.49 561.85,178.59 561.85,183.75 475.28,133.65"/>
            <polygon id="st1_library_2" class="st1" points="562.55,178.29 667.27,117.3 667.27,121.86 562.55,183.75"/>
            <polygon id="st2_restaurant_1" class="st2" points="32.62,204.06 65.5,223.18 62.17,225.92 32.62,208.76"/>
            <polygon id="st2_restaurant_3" class="st2" points="35.3,242.37 121.63,291.93 121.63,297.09 35.3,247.18"/>
            <polygon id="st1_restaurant_2" class="st1" points="122.13,291.93 175.12,260.74 175.12,267.03 122.13,297.09"/>
            <polygon id="st1_university_1" class="st1" points="337.57,294.37 337.57,283.73 345.61,288.58 345.61,299.22"/>
            <polygon id="st2_university_2" class="st2" points="337.57,283.73 360.13,271.39 367.52,276 345.61,288.58"/>
            <polygon id="st1_university_3" class="st1" points="382.08,258.19 389.97,262.81 389.96,273.45 382.07,268.83"/>
            <polygon id="st2_university_4" class="st2" points="382.08,258.19 401.3,247.45 409.08,251.96 389.97,262.81"/>
            <polygon id="st1_university_5" class="st1" points="372.52,319.32 372.52,308.68 380.43,313.19 380.43,323.82"/>
            <polygon id="st2_university_6" class="st2" points="372.53,308.68 402.16,291.08 409.49,295.43 380.43,313.19"/>
            <polygon id="st1_university_7" class="st1" points="230.64,327.19 343.1,393.37 343.1,398.73 230.64,332.54"/>
            <polygon id="st2_university_8" class="st2" points="343.26,393.37 547.72,271.75 547.72,277.11 343.26,398.73"/>
            <polygon id="st1_university_9" class="st1" points="258.02,342.88 261.33,340.64 307.68,367.39 303.52,369.87"/>
            <polygon id="st1_university_10" class="st1" points="261.33,340.64 264.66,338.83 310.81,365.47 307.68,367.39"/>
            <polygon id="st1_university_11" class="st1" points="264.66,338.83 267.64,337.02 313.98,363.78 310.81,365.47"/>

            <polygon id="st1_university_12" class="st1" points="449.84,227.97 453.74,225.89 500.08,252.65 496.19,254.73"/>
            <polygon id="st1_university_13" class="st1" points="453.74,225.89 457.45,223.6 503.8,250.36 500.08,252.65"/>
            <polygon id="st1_university_14" class="st1" points="457.45,223.6 461.94,220.77 508.04,248.1 503.8,250.36"/>
          </svg>


          
          <h1>Sitios de Interés</h1>
          <div class="allshop">
            <div>
              <p id="shop1" num="1">Restaurante</p>
              <!-- <p id="shop2">Bistro valvet</p> -->
              <p id="shop4" num="4" >Cafeteria</p>
              <!-- <p id="shop5">Hit Footwear</p> -->
            </div>
            <div>
              <p id="shop2" num="2">Pasillo</p>
              <p id="shop3" num="3">Baño</p>
            </div>
            <div>
              <p id="shop3" num="3">Baño</p>
              <p id="shop3" num="3">Baño</p>
              <!-- <p id="shop8">Gally Hicks</p> -->
            </div>
              <p id="shop5" num="5">Biblioteca</p>
            <div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div> 
</div>


<div id="ex1" class="modal">
  <br>
  <img id="image" class="img_site" src="{% static 'images/sites/restaurante_1.jpg' %}" alt="">
  <h5 id="name"></h5>
  <br>
  <label id="description"></label>
  <br>
  <br>
  <div id="button_catalog" class="button_catalog">
  </div>
  <br>
  <!-- <a id="time" href="/place/" rel="">Ver Horario</a>
  <br> -->

  
  <div class="mb-2" id="sked1"></div>

  <a href="#" rel="modal:close">Cerrar</a>
</div>


{% endblock %}
{% block js %} 
<!-- CODIGO JAVASCRIPT -->
<script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

<script src="{% static 'vendors/map/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'vendors/sked-tape/jquery.skedTape.js' %}"></script>

<script>
  $(document).ready(function() {
    $('#shop1map, #shop2map, #shop3map, #shop4map, #shop5map, #shop1, #shop2, #shop3, #shop4, #shop5').click(function(){
      var num = $(this).attr('num');
      // console.log('asdasdadd');
      // console.log(num);

      $.ajax({
        type: "GET",
        url: "/get_place/" + num + "/",
        success: function(data) {
          // console.log(data);
          $('#image').attr('src', '/static/' + data.image);
          $('#name').html(data.name);
          $('#description').html(data.description);
          // $('#type').html(data.type);

          var locations = [];
          var events = [];
          var locations_data = [];
          var day_array = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
          locations_data = data.services;
          var content_buttons = '';

          data.services.forEach(service => {
            content_buttons += '<a id="catalog" href="/service/request/' + service.id +
              '/" class="mdc-button mdc-ripple-upgraded outlined-button--primary">Realizar un Pedido - ' + service.name + '</a>';
            service.schedule.forEach(schedule => {
              
              var name_day = service.name + ' - ' + day_array[schedule.day-1];
              locations.push({ id: schedule.day, name: name_day, tzOffset: -10 * 60 });

              var date_start = schedule.start.split(':')
              var date_end = schedule.end.split(':')
              // console.log('date_start');
              // console.log(date_start);
              // console.log(date_end);

              events.push({
                name: service.name,
                location: schedule.day,
                start: today(date_start[0], date_start[1]),
                end: today(date_end[0], date_end[1]),
              });
            });
          });
          
          if (data.type == 1) {
            $('#button_catalog').css('display', 'block');
            $('#button_catalog').html(content_buttons);
            
            // $('#catalog').attr('href', '/service/request/' + data.id + '/');
          } else {
            $('#button_catalog').css('display', 'none');
            $('#button_catalog').html('');
          }

          // -------------------------- Helpers ------------------------------
          function today(hours, minutes) {
            var date = new Date();
            date.setHours(hours, minutes, 0, 0);
            return date;
          }
          function yesterday(hours, minutes) {
            var date = today(hours, minutes);
            date.setTime(date.getTime() - 24 * 60 * 60 * 1000);
            return date;
          }
          function tomorrow(hours, minutes) {
            var date = today(hours, minutes);
            date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
            return date;
          }
          // --------------------------- Example 1 ---------------------------

          var sked2Config = {
            caption: 'Servicios',
            start: today(6, 0),
            end: today(24, 0),
            showEventTime: true,
            showEventDuration: false,
            scrollWithYWheel: true,
            locations: locations.slice(),
            events: events.slice(),
            maxTimeGapHi: 60 * 1000, // 1 minute
            minGapTimeBetween: 1 * 60 * 1000,
            snapToMins: 1,
            editMode: false,
            timeIndicatorSerifs: false,
            showIntermission: true,
            showDates: false,
            maxZoom:5,
            formatters: {
              date: function (date) {
                return $.fn.skedTape.format.date(date, 'l', '.');
              },
              duration: function (ms, opts) {
                return $.fn.skedTape.format.duration(ms, {
                  hrs: 'ч.',
                  min: 'мин.'
                });
              },
            },
            canAddIntoLocation: function (location, event) {
              return location.id !== 'london';
            },
            postRenderLocation: function ($el, location, canAdd) {
              this.constructor.prototype.postRenderLocation($el, location, canAdd);
              $el.prepend('<i class="fas fa-thumbtack text-muted"/> ');
            }
          };

          $('#ex1').modal();
          $('#sked1').skedTape(sked2Config);
        }
      });

    });
  });
</script>

{% endblock %}